includes:
- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Only numeric types are allowed in post-increment, string given.#'
    reportUnmatchedIgnoredErrors: true